:root {
    --ST-primary-light-color: #CAD1CA;
    --ST-primary-regular-color: #B1BCB6;
    --ST-primary-dark-color: #A0ABA5;
    --ST-secondary-dark-color: #233B45;
    --ST-secondary-regular-color: #2E4F5B;
    --ST-secondary-light-color: #426F82;


    --ST-white-color: #ede8d3;
    --ST-background-color: #99968b;
    --ST-lightblue-color: #4a658e;
    --ST-blue-color: #2f4c79;
    --ST-darkblue-color: #213150;
    --ST-grey-color: #99968b;
    --ST-darkgrey-color: #5b5b5b;
    --ST-yellow-color: #d8a74a;
    --ST-orange-color: #e16136;
    --ST-red-color: #c72334;
    --ST-realwhite-color:#d3d9e6;
}