.gamepadtabbedpage_TabHeaderRowWrapper_2Jobs {
    background-color: var(--ST-secondary-regular-color);
}
.gamepadtabbedpage_Tab_3eEbS {
    color: var(--ST-primary-light-color);
}
.gamepadtabbedpage_Tab_3eEbS.gpfocus {
    background-color: var(--ST-primary-light-color);
    color: var(--ST-secondary-dark-color);
}

.gamepadui_BasicHome_3LYP1 {
    color: var(--ST-primary-regular-color);
}

.gamepadhomewhatsnew_EventInfo_6TGe7 {
    background-color: var(--ST-secondary-regular-color);
}
.gamepadhomewhatsnew_EventPreviewOuterWrapper_10b1V.gamepadhomewhatsnew_OuterWrapper_3DpEz:hover 
.gamepadhomewhatsnew_EventInfo_6TGe7, 
.gpfocus .gamepadhomewhatsnew_EventInfo_6TGe7 {
    background-color: var(--ST-secondary-light-color);
}

.gamepadhome_TabbedContent_cE1Sa {
    background-image: var(--ST-background-main-image);
    background-size: 853px;
}

.recentlycompleted_RecentlyCompletedItem_3OC7i,

.appdetailsachievementssection_Featured_1j_gj .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Desc_2gLHb{
    background: var(--ST-secondary-regular-color);
}
.BasicUI .recentlycompleted_RecentlyCompleted_3fDIR .recentlycompleted_Header_NhBU2,
.BasicUI .homestorecarousel_StoreCarouselCtn_3zVCV .homestorecarousel_Header_xpRXv,
.BasicUI .marketingmessages_MarketingMessages_jdr42 .marketingmessages_Header_1QCdV,

.appactivityday_StoreGameCapsule_1OYOt, 
.appdetailsachievementssection_Featured_1j_gj .appdetailsachievementssection_TextSection_1s_9c .appdetailsachievementssection_Name_39Y01 {
    color: var(--ST-secondary-dark-color);
}

.marketingmessages_MarketingMessagesCarousel_28SEj,
.homestorecarousel_ItemsCarousel_q4IC9, 
.recentlycompleted_RecentlyCompletedCarousel_2jcru{
    background: #233b459c;
}

.gamepadhomewhatsnew_EventType_1f0dZ.gamepadhomewhatsnew_EventType28_39b83 {
    color: var(--ST-orange-color);
}
.gamepadhomewhatsnew_EventType_1f0dZ.gamepadhomewhatsnew_EventType14_ovxhr {
    color: var(--ST-red-color);
}
.gamepadhomewhatsnew_EventType_1f0dZ.gamepadhomewhatsnew_EventType13_16aly {
    color: var(--ST-darkblue-color);
}
.gamepadhomewhatsnew_EventType_1f0dZ.gamepadhomewhatsnew_EventType11_1I2pe, 
.gamepadhomewhatsnew_EventType_1f0dZ.gamepadhomewhatsnew_EventType23_qVIYl, 
.gamepadhomewhatsnew_EventType_1f0dZ.gamepadhomewhatsnew_EventType35_LeZ61 {
    color: var(--ST-yellow-color);
}

.appactivityday_Event_UVeN0 .appactivityday_EventHeadline_QCKBq,
.appactivityday_Event_UVeN0 .appactivityday_EventHeadline_QCKBq .appactivityday_HeadlineGameName_Gy1Y7 {
    color: var(--ST-primary-light-color);
}

.BasicUI .appactivityday_Event_UVeN0 .appactivityday_EventHeadline_QCKBq  {
    background: var(--ST-secondary-light-color);
}

.BasicUI .gamepadhomefriends_FriendsHeader_1Ejje,
.BasicUI .appdetailssectionheader_Label_1SQ30 .appdetailssectionheader_LabelText_3i0ko {
    color: var(--ST-secondary-dark-color);
}

.gamepadhomefriends_FavoriteFriend_3SLpz, 
.gamepadhomefriends_GoToFriends_MVc_6,
.gamepadhomefriends_InGameGame_KLo2n {
    background-color: #2e4f5b4f;
}
.gamepadhomefriends_FavoriteFriend_3SLpz:focus, 
.gamepadhomefriends_GoToFriends_MVc_6:focus,
.gamepadhomefriends_InGameGame_KLo2n:focus {
    background: #2e4f5b78;
}

.gamecapsule_GameCapsule_fXdhj .gamecapsule_BottomBar_3-GyQ {
    background-color: var(--ST-darkgrey-color);
}

.discoveryqueuewidget_DiscoveryQueueWidgetCtn_1iOb7 .discoveryqueuewidget_WidgetHeaderCtn_3u5R_ {
    background: linear-gradient(90deg, var(--ST-secondary-dark-color) 0%, var(--ST-secondary-light-color) 75%, rgba(64, 121, 153, 0) 100%);
}
.mainbrowser_MainBrowser_12QSs {
    background: linear-gradient(180deg, var(--ST-primary-regular-color) 0%, var(--ST-primary-dark-color) 80%);
}