.DefaultTheme {
    --background-color: var(--ST-background-color);
  
    --key-focused-action-button-left-color: var(--ST-darkblue-color);
    --key-focused-action-button-right-color: var(--ST-darkblue-color);
    --key-action-button-glyph-color: var(--ST-realwhite-color);
  
    --key-color: var(--ST-lightblue-color);
    --key-focused-color: var(--ST-white-color);
  
    --key-background-color: var(--ST-white-color);
    --key-focused-background-color: var(--ST-darkblue-color);

    --key-meta-color: var(--ST-white-color);
    --key-meta-background-color: var(--ST-blue-color);
  
    --key-tab-color: var(--ST-white-color);
    --key-tab-background-color: var(--ST-yellow-color);
  
    --key-caps-color: var(--ST-white-color);
    --key-caps-background-color: var(--ST-orange-color);
  
    --key-shift-color: var(--ST-white-color);
    --key-shift-background-color: var(--ST-red-color);
  
    --key-enter-color: var(--ST-white-color);
    --key-enter-background-color: var(--ST-orange-color);
    --key-enter-action-button-glyph-color: var(--ST-white-color);
  
    --key-backspace-color: var(--ST-white-color);
    --key-backspace-background-color: var(--ST-yellow-color);
  
    --key-spacebar-color: var(--ST-white-color);
    --key-spacebar-background-color: var(--ST-darkgrey-color);
  
    --key-spacer-background-color: var(--ST-darkgrey-color);
  
    --key-extendedkey-background-color: var(--ST-lightblue-color);
    --key-extendedkey-color: var(--ST-white-color);
  
    --key-extendedkey-focused-background-color: var(--ST-yellow-color);
    --key-extendedkey-focused-color: var(--ST-white-color);
  
    --key-extendedkey-hover-background-color:var(--ST-orange-color);
    --key-extendedkey-hover-color: var(--ST-white-color);
  
    --key-toggleon-background-color: var(--ST-lightblue-color);
    --key-toggleon-color: var(--ST-white-color);
    --key-toggleoneshot-color: var(--ST-red-color);
  
    --key-emoji-category-highlight-background-color: var(--ST-blue-color);
    --key-emoji-focused-background-color: var(--ST-darkblue-color);
  
    --key-touched-background-color: var(--ST-blue-color);
    --key-touched-color: var(--ST-white-color);
  
    --key-pointer-stroke-color: var(--ST-white-color);
    --key-pointer-background-color: var(--ST-orange-color);
  
    --key-deadkey-background-color: var(--ST-gray-color);
    --key-deadkeyinactive-color: var(--ST-darkblue-color);
    --key-deadkeyactive-color: var(--ST-lightblue-color);
  }
  
  .DefaultTheme div[class*="virtualkeyboard_KeyboardKey"][class*="virtualkeyboard_Touched"] {
    color: var(--sk-white-color) !important;
    background-color: var(--sk-lightblue-color) !important;
  }
  
  div[class*="virtualkeyboard_KeyboardSpacer"] {
    background-color: var(--sk-blue-color) !important;
  }