.gamepadtabbedpage_GamepadTabbedPage_3IBLc {
    background-image: var(--ST-background-main-image);
    background-size: 853px;
}
.gamepadtabbedpage_ContentTransition_L_ehQ {
    background: #4747478c;
}