.BasicUI .header_Header_1E_SL {
    color: var(--ST-primary-light-color);
}
.header_Header_1E_SL::before {
    background-color: var(--ST-secondary-dark-color);
}
.header_Header_1E_SL.header_OverrideHeaderBackground_MS2nB.gpfocuswithin::before {
    background-color: var(--ST-secondary-light-color);
}

.header_HeaderItem_2HnVd {
    padding: 0 15px;
}
.header_HeaderItem_2HnVd.gpfocus, .header_HeaderItem_2HnVd.gpfocuswithin {
    background: var(--ST-primary-regular-color);
    color: var(--ST-secondary-regular-color);
}

.FlexGrowUniversalSearch .searchbar_SearchContainer_161Tj {
    max-width: 509px;
    margin-left: 0px;
    margin-right: auto;
}
.searchbar_SearchBox_2a1-s {
    letter-spacing: -1px;
}