.mainmenu_Menu_23IDi {
    background: var(--ST-white-color);
}
.mainmenu_ItemOuter_1BbM8 {
    background: transparent;
}

.mainmenu_ActiveDot_1uLVH {
    background: var(--ST-orange-color);
    border-radius: 3px;
}

.mainmenu_ItemIcon_3xZ3Z, .mainmenu_ItemLabel_3x-ZK {
    color: var(--ST-blue-color);
}

.mainmenu_Item_2w9Tp .marquee_Content_2ADpT, 
.mainmenu_Item_2w9Tp .mainmenu_ItemIcon_3xZ3Z,
.mainmenu_Item_2w9Tp.mainmenu_Active_10bq5 .mainmenu_ItemIcon_3xZ3Z, 
.mainmenu_Item_2w9Tp.mainmenu_Active_10bq5 .mainmenu_ItemLabel_3x-ZK {
    color: var(--ST-blue-color);
}

.mainmenu_Item_2w9Tp.gpfocus,
.mainmenu_Item_2w9Tp:focus:hover {
    color: var(--ST-lightblue-color);
    background: var(--ST-white-color);
    animation: none;
}