.mainmenu_Menu_23IDi {
    background: var(--ST-primary-dark-color);
}
.mainmenu_ItemOuter_1BbM8 {
    background: var(--ST-primary-regular-color);
}

.mainmenu_Item_2w9Tp .mainmenu_ActiveDot_1uLVH {
    width: 12px;
    height: 70%;
    background: var(--ST-secondary-dark-color);
    border-radius: 1px;
}

.mainmenu_ItemIcon_3xZ3Z, .mainmenu_ItemLabel_3x-ZK {
    color: var(--ST-secondary-dark-color);
}
.mainmenu_Item_2w9Tp.mainmenu_Active_10bq5 {
    background: var(--ST-secondary-dark-color);
}
.mainmenu_Item_2w9Tp.mainmenu_Active_10bq5.Panel.Focusable.gpfocus.gpfocuswithin {
    background: var(--ST-secondary-light-color);
}

.mainmenu_Item_2w9Tp.gpfocus,
.mainmenu_Item_2w9Tp:focus:hover {
    background: var(--ST-primary-light-color);
    animation: none;
}